@{
    ViewData["Title"] = "Hiking Trails";
}

<div class="text-center">
    <h1 class="display-4">Hiking Trails</h1>
    <p>The number one best source of local hiking trails and reviews</a>.</p>
</div>
